name: Deploy portfolio via GitHub Pages actions

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy `public/portfolio` to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: public/portfolio

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
